html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 80px;
  margin-top: 40px;
}

.footer {
    margin-left: -8px;
    z-index: 10;
    position:fixed;
     bottom: 0;
     width: 100%;
     height: 60px;
}

.navbar{
    border-top: 1px solid transparent;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.group-container{
    padding:0;
    height:100%;
}

.selectors, .block{
    height:100%;
    width:100%;
    display: inline-flex;
    background: #fff;
}

.selectors button{
    border: 0;
    border-radius: 0;
    background-color:#ffffff;
    width:35%;
    margin-left: 0;
}

.selectors button:active{
    border:0;
}

.selectors button:focus{
    border:0;
    outline: 0;
    box-shadow: 0 0 0 0px;
}

.active, .selector-holder{
    flex-direction: column;
}

.inactive{
    display: none;
}

.selector-holder span{
    font-size: 0.8rem;
}
